<div>
  <div class="list list-inset">

    <a class="item item-icon-left">
      <i class="icon ion-pricetag"></i>
      <input id="titulo-comp" type="text" placeholder="Título" ng-model="data.titulo">
    </a>
    <a class="item item-icon-left" ng-click="horaIni()">
      <i class="icon ion-android-time"></i>
      Hora inicial: {{data.horaIniSelected}}
    </a>
    <a class="item item-icon-left" ng-click="horaFin()">
      <i class="icon ion-android-alarm-clock"></i>
      Hora final: {{data.horaFinSelected}}
    </a>
    <a class="item item-icon-left" ng-click="dataSelecao()">
      <i class="icon ion-calendar"></i>
      Data: {{data.dia}}
    </a>
  </div>
</div>
