<ion-view view-title = "{{materiaSelec.nome}}">

  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-edit" ng-click="openModal()"> </button>
      <button class="button button-icon ion-more" ng-click="popoverDados.show($event)"></button>
  </ion-nav-buttons>

  <!--Começo do content-->
  <ion-content>

    <div class="list">
        <div class="item">
           {{materiaSelec.professor}}
        </div>

        <div class="horario item">
          <div class="row">
            <div>  Horário de Aula </div>
          </div>

          <div class="row" ng-repeat="data in materiaSelec.dataAula">
            <div class="col col-75" >
              {{data.diaSemana}}
            </div>
            <div class="col">
              {{data.horaIni.hora}}:{{data.horaIni.min}}
            </div>
            <div class="col">
              {{data.horaFin.hora}}:{{data.horaFin.min}}
            </div>
          </div>
        </div>

        <div class="item">
          <div>Critério de Avaliação</div>
          <div class="criterio" align="center">
            MF = {{materiaSelec.criterio.mp}}
            <i href="#" class="ion-ios-medical"> </i>
            MP
            <i href="#" class="ion-plus"> </i>
            {{materiaSelec.criterio.mt}}
            <i href="#" class="ion-ios-medical"> </i>
            MT
            <i href="#" class="ion-plus"> </i>
            {{materiaSelec.criterio.me}}
            <i href="#" class="ion-ios-medical"> </i>
            ME
          </div>
          </div>

            <div class="item">
                <div>Faltas Disponíveis: {{faltasDisp}}</div>
            </div>

        <div class="item tabela-body">

          <!--"Titulos" colunas-->
            <div class="row">
              <div class="col">
                Provas
              </div>
              <div class="col">
                Trabalhos
              </div>
              <div class="col">
                Exercicios
              </div>
            </div>
            <!--Tabela -->
            <div class="tabela-notas">
              <div class="row" ng-repeat="nota in tamanhoTabela track by $index">
                <div class="col">
                  <label class="item item-input item-stacked-label"> {{nota.prova}}
                    <!-- <input type="number" disabled="true">{{nota.prova}}</input> -->
                  </label>
                </div>
                <div class="col">
                  <label class="item item-input item-stacked-label"> {{nota.trabalho}}
                    <!-- <input type="number" disabled="true" > {{nota.trabalho}}</input> -->
                  </label>
                </div>
                <div class="col">
                  <label class="item item-input item-stacked-label">{{nota.exercicio}}
                    <!-- <input type="number" disabled="true" >{{nota.exercicio}} </input> -->
                  </label>
                </div>
              </div>
            </div>
    </div>
  </div>

    <button class="button button-block button-dark" ng-click="openModalEst()">Estimar Notas</button>
  </ion-content>
    <!--fim do content-->
</ion-view>
