<ion-view title="Matérias" id="page2">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-archive"></button>
    <button class="button button-icon icon ion-plus"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="matRias-card21">
      <h3 id="matRias-heading1" style="color:#000000;" class="materia-title">Redes</h3>
      <div class="spacer" style="height: 5px;"></div>
      <div class="info">
        <table style="width:100%">
          <tbody>
            <tr>
              <th class="dia">DIA</th>
              <th class="hora">HORA</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="list card" id="matRias-card22">
      <h3 id="matRias-heading2" style="color:#000000;" class="materia-title">Engenharia de Software 2</h3>
      <div class="spacer" style="height: 5px;"></div>
      <div class="info">
        <table style="width:100%">
          <tbody>
            <tr>
              <th class="dia">DIA</th>
              <th class="hora">HORA</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="list card" id="matRias-card23">
      <h3 id="matRias-heading3" style="color:#000000;" class="materia-title">Metedologia de Pesquisa Científica</h3>
      <div class="spacer" style="height: 5px;"></div>
      <div class="info">
        <table style="width:100%">
          <tbody>
            <tr>
              <th class="dia">DIA</th>
              <th class="hora">HORA</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-content>
</ion-view>
