<ion-view title="Matérias" id="page2">
  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-filing" href="#materiasarch"></a>
    <button class="button button-icon icon ion-plus-round" ng-click="openModal()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
      <div class="list">
      <div class="card card-color" ng-repeat="materia in materias | filter: { arquivado: 'false' }" ng-click="openModalDados(materia,$index)">
        <h3>{{materia.nome}}</h3>
        <div class="row" ng-repeat="data in materia.dataAula">
          <div class="col">{{data.diaSemana}}</div>
          <div class="col">{{data.horaIni.string}}</div>
          <div class="col">{{data.horaFin.string}}</div>
        </div>
        </div>
    </div>
  </ion-content>
</ion-view>
