<ion-modal-view>
   <div class="bar bar-header">
     <!--Botão pra fechar o modal-->
     <button class="button button-icon ion-close-round" ng-click="closeModal()"></button>
      <h1 class = "title">{{nomePag}}</h1>
   </div>
   <!--CORPO-->
   <ion-content class="has-header">
     <div class="list">
       <label class="item item-input item-stacked-label" >
         <span class="input-label" >Nome da Matéria</span>
         <input type="text" placeholder="Redes" ng-model="materia.nome">
       </label>
       <label class="item item-input item-stacked-label">
         <span class="input-label">Nome do Professor</span>
         <input type="text" placeholder="Kelton" ng-model="materia.professor">
       </label>
       <!-- SEMANA -->
       <div style="padding:6px 1px 5px 16px;">
        <span class="input-label" style="width:auto;">Dias da Semana</span>
        <div class="button-bar" id="reservar-button-bar1">
         <button ng-click="selecDia(0,'Segunda')" class=" button {{diasSemana[0].class}}  button-block" id="reservar-button-seg" ng-model="materia.diasSemana">S</button>
         <button ng-click="selecDia(1,'Terça')" class=" button {{diasSemana[1].class}}  button-block" id="reservar-button-ter" ng-model="materia.diasSemana">T</button>
         <button ng-click="selecDia(2,'Quarta')" class=" button {{diasSemana[2].class}}  button-block" id="reservar-button-qua" ng-model="materia.diasSemana">Q</button>
         <button ng-click="selecDia(3,'Quinta')" class=" button {{diasSemana[3].class}}  button-block" id="reservar-button-qui" ng-model="materia.diasSemana">Q</button>
         <button ng-click="selecDia(4,'Sexta')" class=" button {{diasSemana[4].class}}  button-block" id="reservar-button-sex" ng-model="materia.diasSemana">S</button>
         <button ng-click="selecDia(5,'Sábado')" class=" button {{diasSemana[5].class}}  button-block" id="reservar-button-sab" ng-model="materia.diasSemana">S</button>
        </div>
        <div class="row">

        </div>
        <div ng-repeat="item in materia.dataAula">
          <div class="row">
            {{materia.dataAula[$index].diaSemana}}
          </div>
          <div class="row">
            <a class="col col-50" style="color:#444; font-size:16px;" ng-click="horaIni($index)">
              Hora inicial:
              <div style="float:right; padding-right: 10px;">
                {{materia.dataAula[$index].horaIni.string}}
              </div>
            </a>
            <a class="col col-50" style="color:#444; font-size:16px;" ng-click="horaFin($index)">
              Hora final:
              <div style="float:right; padding-right: 10px;">
                {{materia.dataAula[$index].horaFin.string}}
              </div>
            </a>
          </div>
        </div>
       </div>
       <!-- FIM SEMANA -->

       <!--COMEÇO FUNÇÃO DA MÉDIA FINAL-->
       <div class="item t1">
          <span class="header-media">Média Final</span>
          <div class="row">
            <div class="col">
              <span style="font-size:14px; color:#444;">MP</span>
            </div>
            <div class="col">
              <i class="ion-plus"></i>
            </div>
            <div class="col">
              <span style="font-size:14px; color:#444;">MT</span>
            </div>
            <div class="col">
              <i class="ion-plus"></i>
            </div>
            <div class="col">
              <span style="font-size:14px; color:#444;">ME</span>
            </div>
          </div>
          <div class="row" style="width:auto; padding:0 10px;">
            <div class="col">
              <input type="number" step="0.1" max="1" min="0" placeholder="0.9" ng-model="materia.criterioAval.mp">
            </div>
            <div class="col">

            </div>
            <div class="col">
              <input type="number" step="0.1" max="1" min="0" placeholder="0.9" ng-model="materia.criterioAval.mt">
            </div>
            <div class="col">

            </div>
            <div class="col">
              <input type="number" step="0.1" max="1" min="0" placeholder="0.9" ng-model="materia.criterioAval.me">
            </div>
          </div>
       </div>
       <!-- -->
      <!--FIM DA FUNÇÃO DA MÉDIA FINAL-->

      <label class="item item-input item-stacked-label">
        <span class="input-label">Quantidade de provas</span>
        <label>
          <input type="number" min="0" placeholder="1" ng-model="materia.qteProvas" ng-change="qteMudou()">
        </label>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Quantidade de trabalhos</span>
        <label>
          <input type="number" min="0" placeholder="1" ng-model="materia.qteTrabalhos" ng-change="qteMudou()">
        </label>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Quantidade de exercícios</span>
        <label>
          <input type="number" min="0" placeholder="1" ng-model="materia.qteExercicios" ng-change="qteMudou()">
        </label>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Quantidade de máxima de aulas</span>
        <label>
          <input type="number" min="0" placeholder="1" ng-model="materia.faltas.totalAulas">
        </label>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Porcentagem máxima de faltas</span>
        <label>
          <input type="number" min="0" placeholder="1" ng-model="materia.faltas.porcFaltas">
        </label>
      </label>
      <!-- TESTE LOG-->
      <!-- <label>
        {{materia}}
      </label> -->

      <!--Botao para editar as notas e salvar -->
      <div class="row">
        <div class="col">
          <button class="button button-block button-dark" ng-click="showPopup()" ng-disabled="editMode">Editar Notas</button>
        </div>
        <div class="col">
          <button class="button button-block button-dark" ladda="loading" ng-click="salvarMateria()">Salvar</button>
        </div>
      </div>
      <!--Fim botoes -->
     </div>
   </ion-content>
</ion-modal-view>
