  <!--CTabela-->
  <table class= "tabelaNotas" style="width:100%" align='center'>
    <caption id = capTabelaNotas class="tabelaNotas"> Notas</notas>
          <tr>
              <th class ="tabelaNotas" align='center'>Provas</th>
              <th class ="tabelaNotas" align='center'>Exercícios</th>
              <th class ="tabelaNotas" align='center'>Trabalhos</th>
          </tr>
          <tr>
              <td class ="tabelaNotas" align='center'>6.8</td>
              <td class ="tabelaNotas" align='center'>7.9</td>
              <td class ="tabelaNotas" align='center'>6.9</td>
          </tr>
          <tr>
              <td class ="tabelaNotas" align='center'>9.8</td>
              <td class ="tabelaNotas" align='center'>4.9</td>
              <td class ="tabelaNotas" align='center'>3.3</td>
          </tr>
          <tr>
              <td class ="tabelaNotas" align='center'>7.8</td>
              <td class ="tabelaNotas" align='center'>9.7</td>
              <td class ="tabelaNotas" align='center'>4.9</td>
          </tr>
  </table>
  <!--Fim tabela -->
