
#capTabelaNotas{
  background-color: gray;
  color: white;
}

#faltasspin{
  border:  1px solid #ddd;
}

.criterio{
  margin:  5px;
  align-items: center;
}

.tabelaNotas{
   border: 1px solid black;
 }
