#nomeprof{
  font-size: 15px;
};

#titulohora{
  margin: 5px;
  padding: 15px;
  font-style: italic;
}

#capTabelaNotas{
  background-color: gray;
  color: white;
}

#faltasspin{
  border:  0.5px solid black;
}

.faltas{
  font-size: 15px;
  padding: 10px;
}
.criterio{
  margin:  5px;
  align-items: center;
  font-size: 15px;
}

.tabelaNotas{
   border: 1px solid black;
 }
